a {
  color: 	#FFCD38;
  text-decoration: none;
  background-color: #353839;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  &:hover {
    color: 	#D85A3B;
  }
}
